/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.text {
  min-height: 100vh;
  padding-top: 20vh;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.fashion-banner {
  background-color: var(--brand-secondary-light);
}

@media screen and (min-width: 992px) {
  .text {
    min-height: 80vh;
    padding-top: 25vh;
  }
}