<div class="product-info-container px-lg-3 sticky-sidebar">
    <h1 class="h2 mb-2">{{ product.name }}</h1>

    <div class="mobile-nav-groups mb-4" id="descAccordion">
        <div class="border-top border-bottom py-1">
            <div class="py-2 small d-flex justify-content-between align-items-center pointer fw-bold text-uppercase" 
                    data-bs-toggle="collapse" href="#collapseDesc">
                Description <i class="fa-solid fa-chevron-down nav-chevron"></i>
            </div>
            <div class="collapse show" id="collapseDesc" data-bs-parent="#descAccordion">
                <p class="ps-1 small text-muted m-0 py-2">
                    {{ product.description }}
                </p>
                <div class="d-flex flex-wrap gap-1 mb-1">
                    {% for tag_type, tags in product_tags.items %}
                        {% for tag in tags %}
                            <a href="{% url 'products' %}?attribute_type={{ tag.slug }}" 
                            class="badge rounded-pill border text-decoration-none text-dark fw-normal px-3 bg-light">
                                {{ tag }}
                            </a>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <form class="form" action="" method="POST">
        {% csrf_token %}

        <div class="accordion" id="purchaseAccordion">

            <!-- BUY NEW -->
            <div class="purchase-option bg-light border mb-2">
                <div class="option-header fw-bold text-uppercase small d-flex justify-content-between align-items-center py-3 px-3 pointer"
                    data-bs-toggle="collapse"
                    data-bs-target="#buyNew"
                    aria-expanded="true">
                    <span>Buy New</span>
                    <span>{{ product.retail_price }} SEK <i class="fa-solid fa-chevron-down nav-chevron ms-2"></i></span>
                </div>

                <div id="buyNew" class="collapse show" data-bs-parent="#purchaseAccordion">
                    <input type="hidden" name="purchase_type" value="buy">
                    <div class="px-3 pb-3">
                        {% if sizes %}
                        <p class="x-small fw-bold text-uppercase mb-2">Size:</p>
                        <select class="form-control rounded-0" name="product_size" id='id_product_size'>
                            <option value="xs">XS</option>
                            <option value="s">S</option>
                            <option value="m" selected>M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                        </select>
                        {% endif %}

                        <div class="col-12 mb-4">
                            <label class="x-small fw-bold text-uppercase mb-2">Quantity</label>
                            <div class="input-group w-50">
                                <button class="decrement-qty btn btn-outline-dark rounded-0 btn-sm" 
                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input class="form-control qty_input rounded-0 border-dark text-center" type="number" 
                                    name="quantity" value="1" min="1" max="99" 
                                    data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <button class="increment-qty btn btn-outline-dark rounded-0 btn-sm" 
                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <button class="btn btn-dark text-uppercase w-100 py-2 small">
                            Add to Bag
                        </button>
                    </div>
                </div>
            </div>

            <!-- RENT -->
            <div class="purchase-option bg-light border mb-2">
                <div class="option-header fw-bold text-uppercase small d-flex justify-content-between align-items-center py-3 px-3 pointer"
                    data-bs-toggle="collapse" 
                    data-bs-target="#rentOption" 
                    aria-expanded="false">
                    <span>Rent</span>
                    <span>from {{ product.price_per_week }} SEK <i class="fa-solid fa-chevron-down nav-chevron ms-2"></i></span>
                </div>

                <div id="rentOption" class="collapse" data-bs-parent="#purchaseAccordion">
                    <div class="px-3 pb-3">
                        <input type="hidden" name="purchase_type" value="rent">
                        
                        <p class="small text-muted mb-3">Weekly rental with flexible size changes.</p>
                        <!-- Used to simulate fake availability of new items -->
                        {% for size in sizes %}
                        {% if size != "onesize"  %}
                        <p class="x-small fw-bold text-uppercase mb-2">Size:</p>
                        <select class="form-control rounded-0 mb-2" name="product_size" id='id_product_size'>
                            <option value="xs">XS</option>
                            <option value="s">S</option>
                            <option value="m" selected>M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                        </select>
                        {% else %}
                        <input type="hidden" name="product_size" value="onesize">
                        {% endif %}
                        {% endfor %}

                        <div class="col-12 mb-4">
                            <label class="x-small fw-bold text-uppercase mb-2">Quantity</label>
                            <div class="input-group w-50">
                                <button class="decrement-qty btn btn-outline-dark rounded-0 btn-sm" 
                                    type="button" data-item_id="{{ product.id }}">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input class="form-control qty_input rounded-0 border-dark text-center" type="number" 
                                    name="quantity" value="1" min="1" max="99" 
                                    data-item_id="{{ product.id }}" id="id_qty_rent_{{ product.id }}">
                                <button class="increment-qty btn btn-outline-dark rounded-0 btn-sm" 
                                    type="button" data-item_id="{{ product.id }}">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="rental-period">
                            <p class="x-small fw-bold text-uppercase mb-2">Rental Period:</p>
                            <select class="form-control rounded-0 mb-4" name="rental_period" id='id_rental_period'>
                                <option value="1_week" selected>1 Week</option>
                                <option value="2_weeks">2 Weeks</option>
                                <option value="3_weeks">3 Weeks</option>
                                <option value="4_weeks">4 Weeks</option>
                            </select>
                        </div>

                        <div class="start-datum">
                            <p class="x-small fw-bold text-uppercase mb-2">Start Date:</p>
                            <input type="date" class="form-control rounded-0 mb-4" name="start_date" id="id_start_date">
                        </div>

                        <button type="submit" class="btn btn-dark text-uppercase w-100 py-2 small">
                            Add to Bag
                        </button>

                        <div class="rental-summary mt-3 text-center">
                            <span class="small mb-0 fw-bold">End Date: <span id="rental_end_date">—</span>,</span>
                            <span class="small mb-0 fw-bold">Total Price: <span id="rental_total_price">—</span> SEK</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PRE-OWNED -->
            <div class="purchase-option bg-light border mb-2">
                <div class="option-header fw-bold text-uppercase small d-flex justify-content-between align-items-center py-3 px-3 pointer"
                    data-bs-toggle="collapse" 
                    data-bs-target="#preOwnedOption" 
                    aria-expanded="false">
                    <span>Buy Pre-owned</span>
                    <span>{{ product.retail_price }} SEK <i class="fa-solid fa-chevron-down nav-chevron ms-2"></i></span>
                </div>

                <div id="preOwnedOption" class="collapse" data-bs-parent="#purchaseAccordion">
                    <div class="px-3 pb-3">
                        <input type="hidden" name="purchase_type" value="preowned">
                        
                        <p class="small text-muted mb-3">Carefully inspected, final sale item.</p>
                        <!-- Used to simulate fake availability of pre-owned items -->
                        {% if sizes %}
                        <p class="x-small fw-bold text-uppercase mb-2">Available Size:</p>
                        <select class="form-control rounded-0 mb-2 text-uppercase" name="product_size" id='id_product_size'>
                            {% for size in sizes %}
                            <option value="{{ size }}">{{ size }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                        
                        <div class="col-12 mb-4">
                            <label class="x-small fw-bold text-uppercase mb-2">Quantity</label>
                            <div class="input-group w-50">
                                <button class="decrement-qty btn btn-outline-dark rounded-0 btn-sm" 
                                    type="button" data-item_id="{{ product.id }}">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input class="form-control qty_input rounded-0 border-dark text-center" type="number" 
                                    name="quantity" value="1" min="1" max="99" 
                                    data-item_id="{{ product.id }}" id="id_qty_rent_{{ product.id }}">
                                <button class="increment-qty btn btn-outline-dark rounded-0 btn-sm" 
                                    type="button" data-item_id="{{ product.id }}">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-dark text-uppercase w-100 py-2 small">
                            Add to Bag
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 d-grid gap-2">
            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 text-uppercase py-2 mt-2 x-small">
                <i class="fas fa-chevron-left me-2"></i>Keep Shopping
            </a>
        </div>
        
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </form>

    <div class="mobile-nav-groups mt-5" id="productAccordion">
        <div class="mb-2 border-top pt-1">
            <div class="py-3 small d-flex justify-content-between align-items-center collapse-btn pointer text-uppercase fw-bold" 
                data-bs-toggle="collapse" href="#shippingInfo" role="button">
                Shipping & Delivery <i class="fa-solid fa-chevron-down nav-chevron"></i>
            </div>
            <div class="collapse" id="shippingInfo" data-bs-parent="#productAccordion">
                <p class="ps-1 small text-muted m-0 pb-3">
                    Most orders are processed within 1–2 business days. Delivery typically takes 3–7 business days, depending on your location and selected shipping method.
                </p>
            </div>
        </div>

        <div class="mb-2 border-top pt-1">
            <div class="py-3 small d-flex justify-content-between align-items-center collapse-btn pointer text-uppercase fw-bold" 
                data-bs-toggle="collapse" href="#returnInfo" role="button">
                Returns & Exchanges <i class="fa-solid fa-chevron-down nav-chevron"></i>
            </div>
            <div class="collapse" id="returnInfo" data-bs-parent="#productAccordion">
                <p class="ps-1 small text-muted m-0 pb-3">
                    Returns depend on purchase type: Buy New items are accepted within the return window of 30 days if unworn; Rent (Stocka Loop) payments are non-refundable, please contact us for size exchanges; Pre-owned (Stocka Reuse) purchases are final sale.
                </p>
            </div>
        </div>
    </div>
</div>