<div class="dropdown-menu mega-menu border-0 border-bottom shadow-sm w-100 py-4">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-3">
                <a href="" class="text-decoration-none group">
                    <div class="bg-light d-flex align-items-end p-3 rounded-3" style="height: 250px; background: grey;">
                        <h3 class="mb-0 small">About</h3>
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="" class="text-decoration-none group">
                    <div class="bg-light d-flex align-items-end p-3 rounded-3" style="height: 250px; background: grey;">
                        <h3 class="mb-0 small">Values</h3>
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="" class="text-decoration-none group">
                    <div class="bg-light d-flex align-items-end p-3 rounded-3" style="height: 250px; background: grey;">
                        <h3 class="mb-0 small">Sustainability</h3>
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <p class="small ms-2">Others</p>
                <ul class="d-grid list-unstyled">
                    <li><a class="dropdown-item fw-bold" href="">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>