<div class="dropdown-menu mega-menu border-0 border-bottom shadow-sm w-100 py-4">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3">
                <a href="{% url 'info_pages' 'about' %}" class="text-decoration-none group">
                    <div class="rounded-3 d-flex align-items-end p-3" style="
                        height: 250px; 
                        background: linear-gradient(to top, rgba(0,0,0,0.4), transparent), 
                                    url('{{ MEDIA_URL }}fffb74fce5fe45a38a044d615aa2a24d.jpg') center center / cover no-repeat;
                    " crossorigin="anonymous">
                        <h3 class="mb-0 small text-white fw-bold text-uppercase">About</h3>
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="{% url 'info_pages' 'values' %}" class="text-decoration-none group">
                    <div class="rounded-3 d-flex align-items-end p-3" style="
                        height: 250px; 
                        background: linear-gradient(to top, rgba(0,0,0,0.4), transparent), 
                                    url('{{ MEDIA_URL }}f0529cfe6d594105a3d8f9969c694452.jpg') center center / cover no-repeat;
                    " crossorigin="anonymous">
                        <h3 class="mb-0 small text-white fw-bold text-uppercase">Values</h3>
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <a href="{% url 'info_pages' 'sustainability' %}" class="text-decoration-none group">
                    <div class="rounded-3 d-flex align-items-end p-3" style="
                        height: 250px; 
                        background: linear-gradient(to top, rgba(0,0,0,0.4), transparent), 
                                    url('{{ MEDIA_URL }}480b7845e5484e10850fbb57b0bed9a3.jpg') center center / cover no-repeat;
                    " crossorigin="anonymous">
                        <h3 class="mb-0 small text-white fw-bold text-uppercase">Sustainability</h3>
                    </div>
                </a>
            </div>

            <div class="col-lg-3">
                <p class="small ms-2">Others</p>
                <ul class="d-grid list-unstyled">
                    <li><a class="dropdown-item fw-bold" href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>