<div class="px-3 pb-2">
  <div class="mobile-nav-groups">
    <ul class="list-unstyled row g-0 ps-1">
      <li>
        <a class="nav-link py-1 small text-muted" href="{% url 'info_pages' 'about' %}">About</a>
      </li>
      <li>
        <a class="nav-link py-1 small text-muted" href="{% url 'info_pages' 'values' %}">Values</a>
      </li>
      <li>
        <a class="nav-link py-1 small text-muted" href="{% url 'info_pages' 'sustainability' %}">Sustainability</a>
      </li>
      <li>
        <a class="nav-link py-1 small text-muted" href="{% url 'contact' %}">Contact</a>
      </li>
    </ul>
  </div>
</div>