<div class="px-3 pb-2">
  <div class="mobile-nav-groups">
    <ul class="list-unstyled row g-0 ps-1">
      <li>
        <a class="nav-link py-1 small text-muted" href="">About</a>
      </li>
      <li>
        <a class="nav-link py-1 small text-muted" href="">Values</a>
      </li>
      <li>
        <a class="nav-link py-1 small text-muted" href="">Sustainability</a>
      </li>
      <li>
        <a class="nav-link py-1 small text-muted" href="">FAQ's</a>
      </li>
      <li>
        <a class="nav-link py-1 small text-muted" href="">Contact</a>
      </li>
    </ul>
  </div>
</div>