<div class="container-fluid d-none d-lg-block">
  <div class="row w-100 align-items-center g-0">
    <div class="col-4 d-flex align-items-center">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown position-static">
          <a
            class="nav-link px-2 dropdown-toggle border-0 shadow-none"
            href="#"
            id="shopMegaMenu"
            role="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
          >
            Shop
          </a>
          {% include "includes/shop_dropdown.html" %}
        </li>
        <li class="nav-item"><a class="nav-link px-2" href="#">Concept</a></li>
        <li class="nav-item dropdown position-static">
            <a
                class="nav-link px-2 dropdown-toggle border-0 shadow-none"
                href="#"
                id="companyMegaMenu"
                role="button"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                aria-expanded="false"
            >
                Company
            </a>
            {% include "includes/company_dropdown.html" %}
        </li>
      </ul>
    </div>

    <div class="col-4 text-center">
      <a class="navbar-brand m-0 fw-bold" href="{% url 'home' %}"> Stocka<sup>&reg;</sup> </a>
    </div>

    <div class="col-4 d-flex justify-content-end align-items-center">
      <form method="GET" action="{% url 'products' %}" class="position-relative me-3">
        <i
          class="fa-solid fa-magnifying-glass position-absolute"
          style="left: 15px; top: 50%; transform: translateY(-50%); color: #888"
        ></i>
        <input
          class="form-control ps-5 search-input"
          type="search"
          placeholder="Search"
          name="q"
        />
      </form>
      <a class="nav-link px-2" href="#"
        ><span class="icon"><i class="fa-regular fa-heart"></i></span
      ></a>
      <a class="nav-link d-flex align-items-center px-2" href="#">
        <span class="icon{% if bag %} me-2 {% endif %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
            fill="#1f1f1f"
          >
            <path
              d="M200-80q-33 0-56.5-23.5T120-160v-480q0-33 23.5-56.5T200-720h80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720h80q33 0 56.5 23.5T840-640v480q0 33-23.5 56.5T760-80H200Zm0-80h560v-480H200v480Zm280-240q83 0 141.5-58.5T680-600h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85h-80q0 83 58.5 141.5T480-400ZM360-720h240q0-50-35-85t-85-35q-50 0-85 35t-35 85ZM200-160v-480 480Z"
            />
          </svg>
        </span>
        {% if bag %}
        <span
          class="cart-total border-start ps-2 text-muted"
          style="font-size: 0.9rem"
        >
          1.250 kr
        </span>
        {% endif %}
      </a>
      <div class="btn-group ps-2">
        <button type="button" class="nav-link border-0 bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="icon"><i class="fa-regular fa-user"></i></span>
        </button>
        
        <ul class="dropdown-menu dropdown-menu-end shadow" style="margin-top: 11px;">
          {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                  <li><a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
              {% endif %}
              <li><a href="" class="dropdown-item">My Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
          {% else %}
              <li><a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a></li>
              <li><a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
