{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<h2 class="mt-5 mb-4 text-uppercase fw-bold">{% trans "Welcome Back!" %} 👋</h2>
<hr>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="text-muted">
    {% blocktrans %}New to the club? 
    <a href="{{ signup_url }}" class="fw-bold text-primary">Sign up here</a> to start shopping.{% endblocktrans %}
</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}
  <a class="btn btn-outline-dark btn-sm" href="{% url 'home' %}">Home</a>
  <button class="primaryAction btn btn-dark btn-sm" type="submit">{% trans "Sign In" %}</button>
  <p class="mt-4 border-top pt-3">
    <a class="text-muted small text-decoration-none" href="{% url 'account_reset_password' %}">
        <i class="fa-solid fa-lock-open me-1"></i> {% trans "Forgot Password?" %}
    </a>
  </p>
</form>

{% endblock %}