{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block extra_title %}| {{ product.name }} {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid mt-2 mt-lg-3 mb-5">
    <div class="row">
        <div class="col-12 col-lg-8">
            {% include 'products/includes/product_images.html' %}
        </div>
        
        <div class="col-12 col-lg-4">
            {% include 'products/includes/purchase_sidebar.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}